header{  
    border-bottom: 4px dashed rgb(0, 0, 0);
    position: fixed;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 80px;
    background: linear-gradient( 45deg, rgb(111, 112, 112), rgb(30, 30, 32)) no-repeat;
    top: 0;
    left: 0;
}

#paragrafo-header{
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}

#alinhar-header{
    display:inline-block;
    padding-bottom: 60px;
}

a {
    color: black;
}

ion-icon{
    font-size: 39px;
    padding-left: 12px;
}

#call-icon{
    padding-right: 12px;
    display:inline-block;
}

footer{
    border-top: 4px dashed rgb(0, 0, 0);
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    background: linear-gradient( 45deg,rgb(30, 30, 32), rgb(111, 112, 112));
    bottom: 0;
    left: 0;
    height: 80px;
    position: fixed;
    width: 100%;
}

.bloco-insersoes{
    border: 3px solid rgba(42, 44, 44, 0.726);
    border-radius: 28px;
    background-color: rgba(173, 173, 173, 0.507);
    text-align: center;
    font-size: 21px;
    width: fit-content;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 40px;
}

.bloco-salvos{
    border: 3px solid rgba(42, 44, 44, 0.726);
    border-radius: 28px;
    background-color: rgba(173, 173, 173, 0.507);
    text-align: center;
    font-size: 21px;
    width: fit-content;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 30px;
    padding-top: 40px;
}

h3{
    text-decoration: underline;
}

.p-salvos{
    text-align:initial;
    text-decoration: underline;
}

#centralizacao-main{
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

input:hover{
    transition: 0.5s;
    background: rgb(214, 214, 214);
}

input{
    font-size: 17.5px;
    font-family: American Typewriter, serif;
    text-decoration: underline;
    border-radius: 7px;
    text-align: center;
}

button:hover{
    transition: 0.5s;
    background: rgb(172, 172, 172);
}

button{
    font-family: American Typewriter, serif;
    border-radius: 8px;
    background: rgb(102, 102, 102);
    font-size: 21px;
    padding-left: 50px;
    padding-right: 50px;
}

.padding-input{
    display: inline-block;
    padding: 15px;
}